<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS Greeting App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="GreetingController">
      <input
        type="text"
        ng-model="studentName"
        placeholder="Enter student's name"
      />
      <button ng-click="submit()">Submit</button>
      <h1>{{ greeting }}</h1>
    </div>
    <script>
      var app = angular.module("myApp", []);
      app.controller("GreetingController", function ($scope) {
        $scope.studentName = "";
        $scope.greeting = "";
        $scope.submit = function () {
          if ($scope.studentName) {
            $scope.greeting = "Hello, " + $scope.studentName + "!";
          } else {
            $scope.greeting = "Please enter student's name.";
          }
        };
      });
    </script>
  </body>
</html>